<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="add">


			  	
	<li class="mdl-menu__item-padding">
		<a href="{{pr.get_absolute_url_edit_pr}}" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--red-500 mdl-shadow--4dp" id="pr">
		<i class="material-icons mdl-color-text--white" role="presentation">time</i>            
		</a>
	</li>
</ul>


<div class="mdl-tooltip mdl-tooltip--left" for="pr">
	Editar <br />Record Personal
</div>

<div class="mdl-tooltip mdl-tooltip--left" for="add">
	Editar
</div>	