<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="add">

<li class="mdl-menu__item-padding">
		<a href="{{ejercicio.get_absolute_url_edit_e}}" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--light-green-500 mdl-shadow--4dp" id="ejercicio">
		<i class="material-icons mdl-color-text--white" role="personales">fitness_center</i>            
		</a>
	</li>
</ul>

<div class="mdl-tooltip mdl-tooltip--left" for="ejercicio">
	Editar Ejercicio
</div>

<div class="mdl-tooltip mdl-tooltip--left" for="add">
	Editar
</div>	