{% extends "base.html" %}
{% load static from staticfiles %}
{% load mathfilters %}
{% block staticos %}
	<link rel="stylesheet" type="text/css"  href="{% static "css/print.css" %}">
	
{% endblock %}  
{% block header %}
	<header class="header mdl-layout__header mdl-layout__header--scroll mdl-color--green-500">	  			
    	<div class="mdl-layout--large-screen-only mdl-layout__header-row">	    		
	    	<div class=" mdl-layout-spacer"></div>
	    	<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
    			<form>
		            <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
		              	<i class="material-icons">search</i>
		            </label>
		            <div class="mdl-textfield__expandable-holder">
		              	<input class="mdl-textfield__input" type="text" id="search-field">
		            </div>
	            </form>
          	</div>
		</div>
    	<div class="mdl-typography--text-center ">
    		<div class="mdl-layout-title">
    			<h1 >{{page_title}} - {{orden.id}}</h1>
    		</div>

    		
    	</div>
    	<div class="mdl-layout--large-screen-only mdl-layout__header-row">
    		<!---->
    	</div>	
    	<div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--green-A400"> 		
    		<a href="#orden" class="mdl-layout__tab is-active">Venta</a>  
    		<a href="#credito" class="mdl-layout__tab">Credito y Cobranza</a>
    		<a href="#" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-color--green-A200 mdl-shadow--4dp" id="add">
	            <i class="material-icons mdl-color-text--white" role="presentation">mode_edit</i>	            
	      	</a> 
    		{% include "menu-credito-cobranza.html" %}             	
    	</div>
    	
    </header>
{% endblock %}

{% block contedor %}	
  	<main class="mdl-layout__content mdl-color--grey-100">  		  		
	  	<div class="mdl-grid demo-content mdl-layout__tab-panel is-active" id="orden">
	  		<div class="mdl-grid">	  		
	  			<section class="demo-cards mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-grid mdl-grid--no-spacing datos-venta">
	  				<h4 class="mdl-cell mdl-cell--12-col orden-id">Orden: {{orden.id}}</h4>
	  				<h4 class="mdl-cell mdl-cell--12-col cliente-nombre">Cliente: <a href="{{orden.cliente.get_absolute_url}}">{{orden.cliente.nombre}} {{orden.cliente.apellidos}}</a></h4>
	  				<ul class="mdl-textfield--align-left">
	  					<li class="fecha-orden">Fecha:{{orden.fecha|date:'Y-m-d'}}</li>
	  					<li class="tipo-pago">Tipo de Pago:{{orden.tipo_pago}}</li>
	  					<li class="estatus-orden">Estatus Orden: {{orden.estatus_orden}}</li>
	  					<li class="estatus-cobranza">Estatus Cobranza{{orden.estatus_cobranza}}</li>
	  				</ul>		    		 			
				</section>
				<section class=" mdl-cell mdl-cell--9-col mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-grid ">	
					<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col suminputs venta">
						<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-fullwidth">
							<thead>
								<tr>
								  <th class="mdl-data-table__cell--non-numeric">Producto</th>
								  <th>Catidad</th>
								  <th>Precio Unitario</th>
								  <th>Total</th>
								</tr>
							</thead>
							<tbody class="lista-venta">
								{% for op in o_productos %}
									<tr>
										<td class='mdl-data-table__cell--non-numeric'>{{op.producto.nombre}}</td>
										<td>{{op.cantidad}}</td>
										<td>${{op.precio}}</td>
										<td>${{op.subtotal_producto}}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>			    	
		    	</section>
		    	<section class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-grid mdl-textfield--align-right totales">	
					<div class="mdl-cell mdl-cell--10-col mdl-cell--5-col-tablet mdl-cell--2-col-phone letra">
						<h4>Sub Total: $</h4>
						<h4>Total: $</h4>
					</div>
					<div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone cantidad">
						<h4>{{orden.subtotal}}</h4>
						<h4>{{orden.total}}</h4>
					</div>				    	
		    	</section>
		    	<section class=" mdl-cell mdl-cell--12-col mdl-grid entregar">
		    		<form role="form" action=""  method="post">{% csrf_token %}
	        			{{ formset.management_form }}
	        			<input type="hidden" name="estatus_orden" id="estatus_orden" value="2" required/>		        				
	        			{% for f in formset  %}
	        				{{f.id}}
	        				{{ f.id.errors }}
	        				{% for p in o_productos %}			        				
		        				{% ifequal p.producto.id f.id.value %}
			        				<input type="number" class="stock" name="stock" value="{{f.stock.value|sub:p.cantidad}}" />				        				
		        				{% endifequal %}
		        			{% endfor %}
		        		{% endfor %}

		        	
					<div class="mdl-cell mdl-cell--12-col mdl-textfield--align-right">
						<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" tabindex="4">
							  Entregar
						</button>
						
					</div>
					</form>				    	
		    	</section>
		    	
	    	</div>
	  	</div>
	  	
   	</main>
   	
    
{% endblock %}
{% block adicional-scripts %}
<script type="text/javascript">
	$(document).ready(function() {
		$('.entregar').each(function(i){
			$(this).find('.stock').attr('name', 'form-' + i +'-stock');
		});
	});
</script>

{% endblock %}
