<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="add">

		  	
	<li class="mdl-menu__item-padding">
		<a href="{% url 'add-producto' %}" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--blue-500 mdl-shadow--4dp" id="editar-producto">
		<i class="material-icons mdl-color-text--white" role="presentation">local_cafe</i>            
		</a>
	</li>
</ul>

</div>
<div class="mdl-tooltip mdl-tooltip--left" for="editar-producto">
	Editar Producto
</div>
