{% extends "base.html" %} 
{% block header %}
	<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--deep-orange-500">	  			
		<div class="mdl-layout--large-screen-only mdl-layout__header-row">	    		
	    	<div class=" mdl-layout-spacer"></div>
	    	<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
				<form>
		            <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
		              	<i class="material-icons">search</i>
		            </label>
		            <div class="mdl-textfield__expandable-holder">
		              	<input class="mdl-textfield__input" type="text" name="q" value="{{ query|escape }}" id="search-field">
		            </div>
	            </form>
	      	</div>
		</div>
		<div class="mdl-typography--text-center ">
			<div class="mdl-layout-title">
				<h1 >{{page_title}}</h1>
			</div>

			
		</div>
		<div class="mdl-layout--large-screen-only mdl-layout__header-row">
			<!---->
		</div>
		<div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--deep-orange-A400">
			<a href="#pendientes" class="mdl-layout__tab is-active">Pendientes</a>  
    		<a href="#abonadas" class="mdl-layout__tab">Abanodas</a>
    		<a href="#pagadas" class="mdl-layout__tab">Pagadas</a>
    		<a href="#revision" class="mdl-layout__tab">Por Revisar</a>
    		<a href="#asignadas" class="mdl-layout__tab">Devoluciones Asignadas</a>
    		<a href="#sin_asignar" class="mdl-layout__tab">Devoluciones Sin Asignar</a>
			<a href="#" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-color--red-500 mdl-shadow--4dp" id="add">
	            <i class="material-icons mdl-color-text--white" role="presentation">add</i>	            
	      	</a> 
	      	{% include "menu-credito-cobranza-add.html" %} 
		</div>	
	</header>
{% endblock %}

{% block contedor %}
  	<main class="mdl-layout__content mdl-color--grey-100">
	  	<div class="mdl-grid demo-content mdl-layout__tab-panel is-active" id="pendientes">		  		
		    	<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid ">
		    		<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-fullwidth">
					  <thead>
					    <tr>
					      	<th class="mdl-data-table__cell--non-numeric mdl-fullwidth ">Orden</th>
					      	<th>Cliente</th>
					      	<th>Subtotal</th>
					      	<th>Total</th>
					      	<th>Saldo</th>					      	
					    </tr>
					  	</thead>
					  	<tbody>
					  	{% for op in orden_pendiente %}
					    	<tr>
					      		<td class="mdl-data-table__cell--non-numeric">
					      			<a href="{{ op.get_absolute_url_abonar_orden }}">
					      				{{op.id}}
					      			</a>
					      		</td>
					      		<td>{{op.cliente.nombre}} {{op.cliente.apellidos}}</td>					      	
					      		<td>{{op.subtotal}}</td>
					      		<td>{{op.total}}</td>
					      		<td>{{op.saldo}}</td>
					    	</tr>
					    {% endfor %}
					    
					  </tbody>
					</table>
		    	</div>
	  	</div>
	  	<div class="mdl-grid demo-content mdl-layout__tab-panel" id="abonadas">		  		
		    	<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid ">
		    		<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-fullwidth">
					  <thead>
					    <tr>
					      	<th class="mdl-data-table__cell--non-numeric mdl-fullwidth ">Orden</th>
					      	<th>Cliente</th>
					      	<th>Subtotal</th>
					      	<th>Total</th>
					      	<th>Saldo</th>					      	
					    </tr>
					  	</thead>
					  	<tbody>
					  	{% for oa in orden_abonada %}
					    	<tr>
					      		<td class="mdl-data-table__cell--non-numeric">
					      			<a href="{{ oa.get_absolute_url_abonar_orden }}">
					      				{{oa.id}}
					      			</a>
					      		</td>
					      		<td>{{oa.cliente.nombre}} {{oa.cliente.apellidos}}</td>					      	
					      		<td>{{oa.subtotal}}</td>
					      		<td>{{oa.total}}</td>
					      		<td>{{op.saldo}}</td>
					    	</tr>
					    {% endfor %}
					    
					  </tbody>
					</table>
		    	</div>
	  	</div>
	  	<div class="mdl-grid demo-content mdl-layout__tab-panel" id="pagadas">		  		
		    	<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid ">
		    		<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-fullwidth">
					  <thead>
					    <tr>
					      	<th class="mdl-data-table__cell--non-numeric mdl-fullwidth ">Orden</th>
					      	<th>Cliente</th>
					      	<th>Subtotal</th>
					      	<th>Total</th>
					      	<th>Saldo</th>					      	
					    </tr>
					  	</thead>
					  	<tbody>
					  	{% for op in orden_pagadas %}
					    	<tr>
					      		<td class="mdl-data-table__cell--non-numeric">
					      			<a href="{{ op.get_absolute_url }}">
					      				{{op.id}}
					      			</a>
					      		</td>
					      		<td>{{op.cliente.nombre}} {{op.cliente.apellidos}}</td>					      	
					      		<td>{{op.subtotal}}</td>
					      		<td>{{op.total}}</td>
					      		<td>{{op.saldo}}</td>
					    	</tr>
					    {% endfor %}
					    
					  </tbody>
					</table>
		    	</div>
	  	</div>
	  	<div class="mdl-grid demo-content mdl-layout__tab-panel" id="revision">		  		
		    	<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid ">
		    		<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-fullwidth">
					  <thead>
					    <tr>
					      	<th class="mdl-data-table__cell--non-numeric mdl-fullwidth ">Orden</th>
					      	<th>Cliente</th>
					      	<th>Subtotal</th>
					      	<th>Total</th>
					      	<th>Saldo</th>
					      	<th>Observaciones</th>					      	
					    </tr>
					  	</thead>
					  	<tbody>
					  	{% for or in ordenes_revision %}
					    	<tr>
					      		<td class="mdl-data-table__cell--non-numeric">
					      			<a href="{{ or.get_absolute_url_corregir }}">
					      				{{or.id}}
					      			</a>
					      		</td>
					      		<td>{{or.cliente.nombre}} {{or.cliente.apellidos}}</td>					      	
					      		<td>${{or.subtotal}}</td>
					      		<td>${{or.total}}</td>
					      		<td>${{or.saldo}}</td>
					      		<td>{{or.observacion}}</td>
					    	</tr>
					    {% endfor %}
					    
					  </tbody>
					</table>
		    	</div>
	  	</div>	
	  	<div class="mdl-grid demo-content mdl-layout__tab-panel" id="asignadas">		  		
		    	<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid ">
		    		<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-fullwidth">
					  <thead>
					    <tr>
					      	<th class="mdl-data-table__cell--non-numeric mdl-fullwidth ">Devolucion</th>
					      	<th>Orden</th>
					      	<th>Cliente</th>
					      	<th>Subtotal</th>
					      	<th>Total</th>					      	
					    </tr>
					  	</thead>
					  	<tbody>
					  	{% for da in devoluciones_asignadas %}
					    	<tr>
					      		<td class="mdl-data-table__cell--non-numeric">
					      			<a href="{{ da.get_absolute_url }}">
					      				{{da.id}}
					      			</a>
					      		</td>
					      		<td>{{da.orden}}</td>
					      		<td>{{da.orden.cliente.nombre}} {{da.orden.cliente.apellidos}}</td>		      	
					      		<td>${{da.subtotal}}</td>
					      		<td>${{da.total}}</td>					      		
					    	</tr>
					    {% endfor %}
					    
					  </tbody>
					</table>
		    	</div>
	  	</div>
	  	<div class="mdl-grid demo-content mdl-layout__tab-panel" id="sin_asignar">		  		
		    	<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid ">
		    		<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-fullwidth">
					  <thead>
					    <tr>
					      	<th class="mdl-data-table__cell--non-numeric mdl-fullwidth ">Devolucion</th>
					      	<th>Orden</th>
					      	<th>Cliente</th>
					      	<th>Subtotal</th>
					      	<th>Total</th>					      	
					    </tr>
					  	</thead>
					  	<tbody>
					  	{% for dsa in devoluciones_sin_asignadar %}
					    	<tr>
					      		<td class="mdl-data-table__cell--non-numeric">
					      			<a href="{{ dsa.orden.get_absolute_url_asiganar_dev() }}">
					      				{{dsa.id}}
					      			</a>
					      		</td>
					      		<td>{{dsa.orden}}</td>
					      		<td>{{dsa.orden.cliente.nombre}} {{dsa.orden.cliente.apellidos}}</td>	      	
					      		<td>${{dsa.subtotal}}</td>
					      		<td>${{dsa.total}}</td>					      		
					    	</tr>
					    {% endfor %}
					    
					  </tbody>
					</table>
		    	</div>
	  	</div>	
   	</main>
{% endblock %}