{% extends "base.html" %} 
{% block header %}
	<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--green-500">	  			
    	<div class="mdl-layout--large-screen-only mdl-layout__header-row">	    		
	    	<div class=" mdl-layout-spacer"></div>
	    	<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
    			<form>
		            <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
		              	<i class="material-icons">search</i>
		            </label>
		            <div class="mdl-textfield__expandable-holder">
		              	<input class="mdl-textfield__input" type="text" id="search-field">
		            </div>
	            </form>
          	</div>
		</div>
    	<div class="mdl-typography--text-center ">
    		<div class="mdl-layout-title">
    			<h1 >{{page_title}}</h1>
    		</div>

    		
    	</div>
    	<div class="mdl-layout--large-screen-only mdl-layout__header-row">
    		<!---->
    	</div>	
    	<div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--green-A400"> 		
    		<a href="#orden" class="mdl-layout__tab is-active">Venta</a>
          	
    	</div>	
    </header>
{% endblock %}

{% block contedor %}	
  	<main class="mdl-layout__content mdl-color--grey-100">  		  		
	  	<div class="mdl-grid demo-content mdl-layout__tab-panel is-active" id="orden">
	  		<div class="mdl-grid">	  		
	  			<section class="demo-cards mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-grid mdl-grid--no-spacing datos-venta">
	  				<h4 class="mdl-cell mdl-cell--12-col">Orden: {{orden.id}}</h4>
	  				<h4 class="mdl-cell mdl-cell--12-col">Cliente: {{orden.cliente.nombre}} {{orden.cliente.apellidos}}</h4>
	  				<ul class="mdl-textfield--align-left">
	  					<li>Fecha:{{orden.fecha|date:'Y-m-d'}}</li>
	  					<li>Tipo de Pago:{{orden.tipo_pago}}</li>
	  					<li>Estatus Orden: {{orden.estatus_orden}}</li>
	  					<li>Estatus Cobranza{{orden.estatus_cobranza}}</li>
	  				</ul>		    		 			
				</section>
				<section class=" mdl-cell mdl-cell--9-col mdl-grid ">	
					<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col suminputs venta">
						<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-fullwidth">
							<thead>
								<tr>
								  <th class="mdl-data-table__cell--non-numeric">Producto</th>
								  <th>Catidad</th>
								  <th>Precio Unitario</th>
								  <th>Total</th>
								</tr>
							</thead>
							<tbody class="lista-venta">
								{% for op in orden_producto %}
									<tr>
										<td class='mdl-data-table__cell--non-numeric'>{{op.producto.nombre}}</td>
										<td>{{op.cantidad}}</td>
										<td>${{op.precio}}</td>
										<td>${{op.subtotal_producto}}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>			    	
		    	</section>
		    	<section class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid mdl-textfield--align-right">	
					<div class="mdl-cell mdl-cell--8-col ">
						<h4>Sub Total: $</h4>
						<h4>Total: $</h4>
					</div>
					<div class="mdl-cell mdl-cell--4-col ">
						<h4>{{orden.subtotal}}</h4>
						<h4>{{orden.total}}</h4>
					</div>				    	
		    	</section>
		    	<section class=" mdl-cell mdl-cell--12-col mdl-grid ">	
					<div class="mdl-cell mdl-cell--12-col mdl-textfield--align-right">
						<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" tabindex="4">
							  Continuar
						</button>
					</div>			    	
		    	</section>
	    	</div>
	  	</div>
	  
	  	
   	</main>
   	
    
{% endblock %}
{% block adicional-scripts %}

{% endblock %}
