{% extends "base.html" %} 
{% block header %}
	<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--deep-orange-500">	  			
    	<div class="mdl-layout--large-screen-only mdl-layout__header-row">	    		
	    	<div class=" mdl-layout-spacer"></div>
	    	<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
    			<form>
		            <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
		              	<i class="material-icons">search</i>
		            </label>
		            <div class="mdl-textfield__expandable-holder">
		              	<input class="mdl-textfield__input" type="text" id="search-field">
		            </div>
	            </form>
          	</div>
		</div>
    	<div class="mdl-typography--text-center ">
    		<div class="mdl-layout-title">
    			<h1 >{{page_title}}</h1>
    		</div>

    		
    	</div>
    	<div class="mdl-layout--large-screen-only mdl-layout__header-row">
    		<!---->
    	</div>	
    	<div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--deep-orange-A400"> 		
    		<a href="#orden" class="mdl-layout__tab is-active">Venta</a>
    		<a href="#productos" class="mdl-layout__tab">Productos</a>
          	
    	</div>	
    </header>
{% endblock %}

{% block contedor %}	
  	<main class="mdl-layout__content mdl-color--grey-100">
  		<form action=""  method="post" role="form">{% csrf_token %}	  		
	  	<div class="mdl-grid demo-content mdl-layout__tab-panel is-active" id="orden">
	  		<div class="mdl-grid">	  		
	  			<section class="demo-cards dl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-grid mdl-grid--no-spacing datos-venta">
	  				<div class="datos-venta mdl-cell--12-col">
	  					<div class="mdl-textfield mdl-js-textfield mdl-cell--12-col">
					  		<select class="mdl-textfield__input" type="text" name="cliente" id="cliente" required>
					  			<option selected>Seleccione un cliente ...</option>
					  			{% for c in clientes %}
					  				<option value="{{c.id}}">{{c.nombre}}</option>
					  			{% endfor %}
					  		</select>      
						    <label class="mdl-textfield__label" for="cliente">Cliente</label>
					  	</div>	
					  	<div class="mdl-textfield mdl-js-textfield mdl-cell--12-col">
					  		<select class="mdl-textfield__input" type="text" name="tipo_pago" id="tipo_pago" required>
					  			<option selected>Tipo de Pago ...</option>
					  			{% for tp in tipo_pago %}
					  				<option value="{{tp.id}}">{{tp.nombre}}</option>
					  			{% endfor %}
					  		</select>      
						    <label class="mdl-textfield__label" for="tipo_pago">Tipo de Pago</label>
					  	</div>
	  				</div>	
	  				
				  	<input class="mdl-textfield__input" type="hidden" name="estatus_orden" id="estatus_orden" value="1" required/>
				  	<input class="mdl-textfield__input" type="hidden" name="estatus_cobranza" id="estatus_cobranza" value="1" required/>	
				  	<input type="hidden" name="total" value="" required="required" /></input>
		    		<input type="hidden" name="total_peso" value="" required="required" /></input>	
		  			
				</section>
				<section class=" mdl-cell mdl-cell--9-col mdl-grid ">	
					<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col suminputs venta">
						<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-fullwidth">
							<thead>
								<tr>
								  <th class="mdl-data-table__cell--non-numeric">Producto</th>
								  <th>Catidad</th>
								  <th>Precio Unitario</th>
								  <th>Total</th>
								</tr>
							</thead>
							<tbody class="lista-venta">
								
							</tbody>
						</table>
					</div>			    	
		    	</section>
	    	</div>
	  	</div>
	  	<div class="mdl-grid demo-content mdl-layout__tab-panel " id="productos">
	  		<div class="mdl-grid">	
	  		<div class="demo-cards mdl-cell mdl-cell--12-col mdl-grid mdl-grid--no-spacing">	
					<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--11-col mdl-grid ">
						<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-fullwidth">
							<thead>
								<tr>
								  	<th class="mdl-data-table__cell--non-numeric">Producto</th>
								  	<th>SKU</th>
								  	<th>Existencia</th>
								</tr>
							</thead>
							<tbody>
								{% for p in productos %}
								<tr>									
								  	<td class="mdl-data-table__cell--non-numeric">{{p.nombre}}</td>
								  	<td>{{p.sku}}</td>
								  	<td>{{p.stock}}</td>								  
								</tr>								
								{% endfor %}
							</tbody>
						</table>
					</div>			    	
		    	</div>
	  		</div>
	  	</div>
	  	</form>
   	</main>
   	<footer class="mdl-mega-footer mdl-color--blue-grey-100">	    
	  	<div class="mdl-mega-footer__bottom-section">
	  		<div class="mdl-mega-footer__left-section mdl-cell--8-col ">		  		
	  			<div class="mdl-mega-footer__left-section mdl-cell--11-col">		  			
			  		<div class="mdl-grid">
			  			<div class="mdl-cell mdl-cell--12-col mdl-grid ">		
						  	<div class="mdl-textfield mdl-js-textfield mdl-cell--7-col">
								<input class="mdl-textfield__input" type="text" id="producto_p" tabindex="1">
			    				<label class="mdl-textfield__label" for="producto">Añadir Producto...</label>
			    				<input type="hidden" id="topicID">
			    				<input type="hidden" id="precio_p">								
							</div>
							<div class="mdl-textfield mdl-js-textfield mdl-cell--4-col">	    			
							    <input class="mdl-textfield__input mdl-textfield--align-left" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="cantidad_p" tabindex="2">
							    <label class="mdl-textfield__label" for="cantidad_p">Cantidad</label>
							    <span class="mdl-textfield__error">¡No es número!</span>
							    <button id="anadir" type="button"  class="mdl-button mdl-js-button mdl-button--icon mdl-color--red-500" style="right: 0;" tabindex="3">
									<i class="material-icons mdl-color-text--white">add_shopping_cart</i>
								</button>
						  	</div>							
							<div class="mdl-tooltip" for="anadir">
								Añadir Producto
							</div>						
						</div>
					</div>				 
				</div>
	    	</div>
		    <div class="mdl-mega-footer__right-section">
		    	<div id="total"><h3>Total: $0.00</h3></div>
		    	
		    </div>
	  	</div>
	</footer>
    
{% endblock %}
{% block adicional-scripts %}
<script type="text/javascript">
	var productos= [
	{% for p in productos %}
	    {
	        value: "{{p.sku}}",
	        label: "{{p.nombre}}",
	        precio: "{{p.precio_unitario}}",
	        id: "{{p.id}}"
	    },
    {% endfor %}    
];

$(document).ready(function() {
    $( "#producto_p" ).autocomplete({
        minLength: 0,
        source: productos,
        focus: function( event, ui ) {
            $( "#producto_p" ).val( ui.item.label );
            return false;
        },
        select: function( event, ui ) {
            $("#producto_p").val( ui.item.label );
            $("#topicID").val(ui.item.id);
            $("#precio_p").val(ui.item.precio);
            /*$( "#results").text($("#topicID").val());    */
            return false;
    	}
	});
	$("#anadir").click(function() {
		input = $("<tr><td></td><td class='mdl-data-table__cell--non-numeric'>"+ $("#producto_p").val() +"</td><td>" + "<input type='number' id='cantidad' class='mdl-textfield__input mdl-textfield--align-right' name='cantidad' value=\"" + $("#cantidad_p").val() + "\"/>" + "</td><td id='precio_front'> $"+ $("#precio_p").val()  +"</td><td class='subtotal_front'> $" +  parseFloat($("#cantidad_p").val()*$("#precio_p").val()).toFixed(3) + "</td></tr><input type='hidden' id='producto' name='producto' value=\"" + $('#topicID').val() + "\"/><input type='hidden' id='precio' name='precio' value=\"" + $('#precio_p').val() + "\"/><input type='hidden' class='subtotal' id='subtotal' name='subtotal' value=\"" + parseFloat($("#cantidad_p").val()*$("#precio_p").val()) + "\"/>");
		$(".lista-venta").append(input);
		$(".lista-venta tr td:first-child").addClass("mdl-data-table__cell--non-numeric")
		$("#producto_p").val("");
		$("#cantidad_p").val("");
		$("#producto_p").focus();		
		$(".lista-venta").each(function(i) {
		  $(this).find('.cantidad').attr('name', 'form-' + i +'-cantidad');
		  $(this).find('.producto').attr('name', 'form-' + i +'-producto');
		  $(this).find('.precio').attr('name', 'form-' + i +'-precio');
		  $(this).find('.subtotal').attr('name', 'form-' + i +'-subtotal');
		});
		calcularTotal();
	});

	$(document).keypress(function(e) {
  		if(e.which == 13) {
  			input = $("<tr><td></td><td class='mdl-data-table__cell--non-numeric'>"+ $("#producto_p").val() +"</td><td>" + "<input type='number' id='cantidad' class='cantidad mdl-textfield__input mdl-textfield--align-right' name='cantidad' value=\"" + $("#cantidad_p").val() + "\"/>" + "</td><td class='precio_front' id='precio_front'> $"+ $("#precio_p").val()  +"<input type='hidden' class='precio' id='precio' name='precio' value=\"" + $('#precio_p').val() + "\"/></td><td >"+"<input type='text' class='subtotal mdl-textfield__input mdl-textfield--align-right' id='subtotal' name='subtotal' value=\"" + parseFloat($("#cantidad_p").val()*$("#precio_p").val()).toFixed(3) + "\" disabled/></td><input type='hidden' class='producto' id='producto' name='producto' value=\"" + $('#topicID').val() + "\"/></tr>");
			$(".lista-venta").append(input);
			$(".lista-venta tr td:first-child").addClass("mdl-data-table__cell--non-numeric")
		    $("#producto_p").val("");
			$("#cantidad_p").val("");
			$("#producto_p").focus();
			$(".lista-venta").each(function(i) {
			  $(this).find('.cantidad').attr('name', 'form-' + i +'-cantidad');
			  $(this).find('.producto').attr('name', 'form-' + i +'-producto');
			  $(this).find('.precio').attr('name', 'form-' + i +'-precio');
			  $(this).find('.subtotal').attr('name', 'form-' + i +'-subtotal');
			});
			calcularTotal();
		}
	});
	
	$("div.venta").bind('keyup mouseup', function () {
		calculateRowSum();
		calcularTotal();
	});

});
function calculateRowSum()
{
    $('table tr:has(td):not(:last)').each(function(){
       var cantidad = 0; 
       var precio = 0; 
       $(this).find('td').each(function(){
          cantidad += parseFloat($(this).find('.cantidad').val()) || 0;
        });
       $(this).find('td').each(function(){
          precio += parseFloat($(this).find('.precio').val()) || 0;
        });
    	$(this).find('.subtotal').val(parseFloat(cantidad*precio).toFixed(3));
    });
}
function calcularTotal() {
    $('.suminputs').each(function(){
	    var total = 0.0;
	    $(".subtotal").each(function() {
	    	total = parseFloat(total)+parseFloat($(this).val());
	        
	    });
	    $("#total").html("<h3> $"+total.toFixed(3)+"</h3>");
    });
}
</script>

{% endblock %}
